apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ .Release.Name }}-server'
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: '{{ .Release.Name }}-app'
  template:
    metadata:
      labels:
        app.kubernetes.io/name: '{{ .Release.Name }}-app'
    spec:
      containers:
      - name: vllm
        image: '{{ $.Values.image }}'
        command: ["/bin/sh", "-c"]
      {{- if .Values.sleepMode }}
        args: ["sleep infinity"] # testing, attach to the pod and run test commands
      {{- else }}
        args: [
          "vllm serve {{ $.Values.model }}"
        ]
      {{- end }}
        resources:
          limits:
            cpu: '{{ $.Values.cpu }}'
            memory: 12Gi
            amd.com/gpu: '{{ $.Values.amdGpu }}'
          requests:
            cpu: '{{ $.Values.cpu }}'
            memory: 12Gi
            amd.com/gpu: '{{ $.Values.amdGpu }}'
        env:
        ports:
          - containerPort: 8000
        volumeMounts:
          - name: '{{ .Release.Name }}-storage'
            mountPath: /root/.cache/huggingface
      volumes:
      - name: '{{ .Release.Name }}-storage'
        persistentVolumeClaim:
          claimName: '{{ .Release.Name }}-models'
