apiVersion: v1
kind: Service
metadata:
  name: '{{ .Release.Name }}-server'
spec:
  selector:
    app.kubernetes.io/name: '{{ .Release.Name }}-app'
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  type: ClusterIP
